.UsageCharts {
    .Label {
        margin-bottom: 6px;
        font-size: 14px;
        font-weight: bolder;
    }
    .SubCard {
        border: #E5E7EA 1px solid;
        box-sizing: border-box;
        border-radius: 5px;
        margin-bottom: 20px;
        padding: 20px;
        height: 250px;
    }
}