.ScriptManage {
    .PageInfo {
        margin: 20px;
    }
    .Card {
        margin: 20px;
    }
    .ToolBar {
        display: flex;
        margin-top: 5px;
        margin-bottom: 15px;
        button + button{
            margin-left: 10px;
        }
        .Space {
            flex-grow: 1;
        }
        .Download {
            display: inline-block;
            line-height: 32px;
            font-size: 14px;
            text-align: center;
            width: 84px;
            background-color: #F5F7FA;
            border-radius: 5px 0px 0px 5px;
            border: #D8DADD 1px solid;
        }
    }
    .Licensed {
        cursor: pointer;
        border-radius: 5px;
        border: #3DB769 1px solid;
        span{
            padding: 0 5px;
            color: #FFFFFF;
        }
        &.active {
            span {
                &:first-child {
                    color: #3DB769;
                }
                &:last-child {
                    background-color: #3DB769;
                }
            }
        }
        &.deactive {
            span{
                &:last-child {
                    color: #3DB769;
                }
                &:first-child {
                    background-color: #3DB769;
                }
            }
        }
    }
}

.AgentDownload {
    display: inline-block;
    line-height: 32px;
    font-size: 14px;
    width: 650px;
    padding-left: 20px;
    border-radius: 0px 5px 5px 0px;
    border: #D8DADD 1px solid;
}