<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huawei.emergency.mapper.ScriptMapper">
    <resultMap id="ScriptListMap" type="com.huawei.emergency.dto.ScriptListDto">
        <result column="script_id" property="scriptId" jdbcType="INTEGER" />
        <result column="script_name" property="scriptName" jdbcType="VARCHAR" />
        <result column="submit_info" property="submitInfo" jdbcType="VARCHAR" />
        <result column="user_name" property="userName" jdbcType="VARCHAR" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="type" property="type" jdbcType="VARCHAR" />
    </resultMap>
    <resultMap id="ScriptMap" type="com.huawei.emergency.entity.ScriptEntity">
        <result column="script_id" property="scriptId" jdbcType="INTEGER" />
        <result column="script_name" property="scriptName" jdbcType="VARCHAR" />
        <result column="submit_info" property="submitInfo" jdbcType="VARCHAR" />
        <result column="context" property="context" jdbcType="LONGVARCHAR" />
        <result column="user_name" property="userName" jdbcType="VARCHAR" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="folder_id" property="folderId" jdbcType="INTEGER" />
    </resultMap>
    <resultMap id="FolderMap" type="com.huawei.emergency.entity.FolderEntity">
        <result column="folder_id" property="folderId" jdbcType="INTEGER" />
        <result column="folder_name" property="folderName" jdbcType="VARCHAR" />
        <result column="submit_info" property="submitInfo" jdbcType="VARCHAR" />
        <result column="user_name" property="userName" jdbcType="VARCHAR" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="parent_id" property="parentId" jdbcType="INTEGER" />
    </resultMap>

    <select id="listScript" parameterType="com.huawei.emergency.dto.ScriptListParam" resultMap="ScriptListMap">
        SELECT tmp.script_id,tmp.script_name,tmp.submit_info,tmp.user_name,tmp.update_time,CASE tmp.type WHEN 1 THEN 'file' WHEN 2 THEN 'folder' END AS type
        FROM
        (SELECT s.script_id,s.script_name,s.submit_info,s.user_name,s.update_time,s.type
        FROM script s
        WHERE s.folder_id = #{folderId}
        <if test="userName!='admin'">
            and s.user_name = #{userName}
        </if>
        UNION ALL
        SELECT f.folder_id,f.folder_name,f.submit_info,f.user_name,f.update_time,f.type
        FROM folder f
        WHERE f.parent_id = #{folderId}
        <if test="userName!='admin'">
            and f.user_name = #{userName}
        </if>
        ) tmp
        <where>
            <choose>
                <when test="keywords!=null and keywords!='' ">
                    tmp.script_name LIKE CONCAT('%',#{keywords},'%')
                </when>
                <when test="scriptName!=null">
                    AND tmp.script_name in
                    <foreach collection="scriptName" item="scriptName" index="index" open="(" close=")" separator=",">
                        #{scriptName}
                    </foreach>
                </when>
                <when test="submitInfo!=null">
                    AND tmp.submit_info in
                    <foreach collection="submitInfo" item="submitInfo" index="index" open="(" close=")" separator=",">
                        #{submitInfo}
                    </foreach>
                </when>
                <otherwise></otherwise>
            </choose>
        </where>
    </select>

    <select id="selectScriptById" parameterType="Integer" resultMap="ScriptMap">
        SELECT script_id,script_name,submit_info,context,user_name,update_time,folder_id
        FROM script
        WHERE script_id = #{scriptId}
    </select>

    <delete id="deleteScriptById" parameterType="Integer">
        DELETE FROM script
        WHERE script_id = #{scriptId}
    </delete>

    <delete id="deleteFolderById" parameterType="Integer">
        DELETE FROM folder
        WHERE folder_id = #{folderId}
    </delete>

    <insert id="createFolder" parameterType="com.huawei.emergency.dto.FolderParam">
        <selectKey keyProperty="folderId" order="AFTER" resultType="Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO folder (folder_name,submit_info,user_name,parent_id)
        VALUES (#{folderName},#{submitInfo},#{userName},#{parentId})
    </insert>

    <insert id="insertScript" parameterType="com.huawei.emergency.entity.ScriptEntity">
        <selectKey keyProperty="scriptId" order="AFTER" resultType="Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO script (script_name,submit_info,context,user_name,folder_id)
        VALUES (#{scriptName},#{submitInfo},#{context},#{userName},#{folderId})
    </insert>

    <select id="selectFolderById" parameterType="Integer" resultMap="FolderMap">
        SELECT folder_id,folder_name,submit_info,user_name,update_time,parent_id
        FROM folder
        WHERE folder_id = #{folderId}
    </select>

    <select id="scriptNameCount" parameterType="String" resultType="Integer">
        SELECT COUNT(1)
        FROM script
        WHERE script_name = #{scriptName} AND user_name = #{userName}
    </select>

    <update id="updateFolderTimeById">
        UPDATE folder SET update_time=#{timestamp} WHERE folder_id=#{id}
    </update>

    <select id="searchScript" resultMap="ScriptMap">
        SELECT script_id,script_name,submit_info,context,user_name,update_time,folder_id
        FROM (
        SELECT script_id,script_name,submit_info,context,user_name,update_time,folder_id
        FROM script
        <where>
            <if test="scriptName!=null and scriptName!='' ">
                script_name LIKE CONCAT('%',#{scriptName},'%')
            </if>
            <if test="userName!='admin' ">
                and user_name = #{userName}
            </if>
        </where>
        ORDER BY update_time DESC LIMIT #{count}) s GROUP BY user_name,script_name ORDER BY update_time DESC LIMIT 5
    </select>

    <select id="countScript" resultType="Integer">
        SELECT COUNT(1) FROM script
    </select>

    <select id="getScriptEntityByName" resultMap="ScriptMap">
        SELECT script_name,submit_info,context
        FROM (
            SELECT * FROM script WHERE script_name = #{scriptName} AND user_name = #{userName} ORDER BY update_time DESC LIMIT #{count} ) s
        GROUP BY script_name, user_name
    </select>

</mapper>