<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huawei.emergency.mapper.UserMapper">
    <select id="getAuthByRole" parameterType="String" resultType="String">
        SELECT auth_name
        FROM emergency_auth
        WHERE role_name = #{role}
    </select>

    <select id="getRoleByUserName" parameterType="String" resultType="String">
        SELECT role_name
        FROM emergency_role
        WHERE user_name = #{userName}
    </select>

    <select id="getUserStatus" parameterType="String" resultType="String">
        SELECT enabled
        FROM NUSER
        WHERE user_id = #{userName}
    </select>
</mapper>