@font-face {
	font-family:mb-icons;
	src:url(./mb-icons.woff);
}
.mb {
	font-family:mb-icons;
}
.icon-align-h-center:before {
	content:"\E900";
}
.icon-align-h-left:before {
	content:"\E901";
}
.icon-align-h-right:before {
	content:"\E902";
}
.icon-align-v-bottom:before {
	content:"\E903";
}
.icon-align-v-center:before {
	content:"\E904";
}
.icon-align-v-top:before {
	content:"\E905";
}
.icon-all-img-o:before {
	content:"\E906";
}
.icon-android-o:before {
	content:"\E907";
}
.icon-android:before {
	content:"\E908";
}
.icon-angle-circle-bottom:before {
	content:"\E909";
}
.icon-angle-circle-left:before {
	content:"\E90A";
}
.icon-angle-circle-right:before {
	content:"\E90B";
}
.icon-angle-circle-top:before {
	content:"\E90C";
}
.icon-angle-left:before {
	content:"\E90D";
}
.icon-angle-right:before {
	content:"\E90E";
}
.icon-apple-o:before {
	content:"\E90F";
}
.icon-apple:before {
	content:"\E910";
}
.icon-arrow-bottom:before {
	content:"\E911";
}
.icon-arrow-left:before {
	content:"\E912";
}
.icon-arrow-right:before {
	content:"\E913";
}
.icon-arrow-top:before {
	content:"\E914";
}
.icon-book:before {
	content:"\E915";
}
.icon-border:before {
	content:"\E916";
}
.icon-cloud:before {
	content:"\E917";
}
.icon-cog:before {
	content:"\E918";
}
.icon-comment:before {
	content:"\E919";
}
.icon-copy:before {
	content:"\E91A";
}
.icon-cube:before {
	content:"\E91B";
}
.icon-cubes:before {
	content:"\E91C";
}
.icon-cut:before {
	content:"\E91D";
}
.icon-delete-path:before {
	content:"\E91E";
}
.icon-design:before {
	content:"\E91F";
}
.icon-discuss:before {
	content:"\E920";
}
.icon-distribute-h:before {
	content:"\E921";
}
.icon-distribute-v:before {
	content:"\E922";
}
.icon-distribute:before {
	content:"\E923";
}
.icon-download:before {
	content:"\E924";
}
.icon-dribble:before {
	content:"\E925";
}
.icon-duplicate:before {
	content:"\E926";
}
.icon-ellipsis-o:before {
	content:"\E927";
}
.icon-ellipsis-v-filled:before {
	content:"\E928";
}
.icon-ellipsis-v:before {
	content:"\E929";
}
.icon-exchange:before {
	content:"\E92A";
}
.icon-export:before {
	content:"\E92B";
}
.icon-eye:before {
	content:"\E92C";
}
.icon-facebook:before {
	content:"\E92D";
}
.icon-font:before {
	content:"\E92E";
}
.icon-gesture-down:before {
	content:"\E92F";
}
.icon-gesture-dtap:before {
	content:"\E930";
}
.icon-gesture-hold:before {
	content:"\E931";
}
.icon-gesture-left:before {
	content:"\E932";
}
.icon-gesture-right:before {
	content:"\E933";
}
.icon-gesture-shake:before {
	content:"\E934";
}
.icon-gesture-tap:before {
	content:"\E935";
}
.icon-gesture-timer:before {
	content:"\E936";
}
.icon-gesture-up:before {
	content:"\E937";
}
.icon-gift:before {
	content:"\E938";
}
.icon-global:before {
	content:"\E939";
}
.icon-grid:before {
	content:"\E93A";
}
.icon-group:before {
	content:"\E93B";
}
.icon-html-o:before {
	content:"\E93C";
}
.icon-img:before {
	content:"\E93D";
}
.icon-keyboard:before {
	content:"\E93E";
}
.icon-layer:before {
	content:"\E93F";
}
.icon-layout:before {
	content:"\E940";
}
.icon-like:before {
	content:"\E941";
}
.icon-link:before {
	content:"\E942";
}
.icon-lock-o:before {
	content:"\E943";
}
.icon-lock:before {
	content:"\E944";
}
.icon-logout:before {
	content:"\E945";
}
.icon-magnet:before {
	content:"\E946";
}
.icon-mail:before {
	content:"\E947";
}
.icon-medium:before {
	content:"\E948";
}
.icon-menu:before {
	content:"\E949";
}
.icon-minus-o:before {
	content:"\E94A";
}
.icon-minus-sm:before {
	content:"\E94B";
}
.icon-minus:before {
	content:"\E94C";
}
.icon-mobile-back-to-list:before {
	content:"\E94D";
}
.icon-mobile-back:before {
	content:"\E94E";
}
.icon-mobile-browse-img:before {
	content:"\E94F";
}
.icon-mobile-close:before {
	content:"\E950";
}
.icon-mobile-copy-link:before {
	content:"\E951";
}
.icon-mobile-hide-comment:before {
	content:"\E952";
}
.icon-mobile-highlight-link:before {
	content:"\E953";
}
.icon-mobile-offline-mode:before {
	content:"\E954";
}
.icon-mobile-offline-update:before {
	content:"\E955";
}
.icon-mobile-page-list:before {
	content:"\E956";
}
.icon-mobile-page:before {
	content:"\E957";
}
.icon-mobile-refresh:before {
	content:"\E958";
}
.icon-mobile-share:before {
	content:"\E959";
}
.icon-mockingbot:before {
	content:"\E95A";
}
.icon-paste:before {
	content:"\E95B";
}
.icon-path:before {
	content:"\E95C";
}
.icon-pencil:before {
	content:"\E95D";
}
.icon-pipet:before {
	content:"\E95E";
}
.icon-play:before {
	content:"\E95F";
}
.icon-plus-o:before {
	content:"\E960";
}
.icon-plus-sm:before {
	content:"\E961";
}
.icon-plus:before {
	content:"\E962";
}
.icon-proto:before {
	content:"\E963";
}
.icon-qq:before {
	content:"\E964";
}
.icon-question-filled:before {
	content:"\E965";
}
.icon-question:before {
	content:"\E966";
}
.icon-recycle:before {
	content:"\E967";
}
.icon-redo:before {
	content:"\E968";
}
.icon-rotate-acw:before {
	content:"\E969";
}
.icon-rotate-cw:before {
	content:"\E96A";
}
.icon-rotate:before {
	content:"\E96B";
}
.icon-ruler:before {
	content:"\E96C";
}
.icon-save:before {
	content:"\E96D";
}
.icon-search:before {
	content:"\E96E";
}
.icon-shadow:before {
	content:"\E96F";
}
.icon-share:before {
	content:"\E970";
}
.icon-single-comment:before {
	content:"\E971";
}
.icon-single-img-o:before {
	content:"\E972";
}
.icon-sketch-o:before {
	content:"\E973";
}
.icon-sketch:before {
	content:"\E974";
}
.icon-smiley:before {
	content:"\E975";
}
.icon-sort-asc:before {
	content:"\E976";
}
.icon-sort-desc:before {
	content:"\E977";
}
.icon-state:before {
	content:"\E978";
}
.icon-t-align-center:before {
	content:"\E979";
}
.icon-t-align-left:before {
	content:"\E97A";
}
.icon-t-align-right:before {
	content:"\E97B";
}
.icon-t-align-v-bottom:before {
	content:"\E97C";
}
.icon-t-align-v-middle:before {
	content:"\E97D";
}
.icon-t-align-v-top:before {
	content:"\E97E";
}
.icon-t-bold:before {
	content:"\E97F";
}
.icon-t-italic:before {
	content:"\E980";
}
.icon-t-ol:before {
	content:"\E981";
}
.icon-t-strikethrough:before {
	content:"\E982";
}
.icon-t-table:before {
	content:"\E983";
}
.icon-t-ul:before {
	content:"\E984";
}
.icon-t-underline:before {
	content:"\E985";
}
.icon-template:before {
	content:"\E986";
}
.icon-times-circle-filled:before {
	content:"\E987";
}
.icon-times-circle:before {
	content:"\E988";
}
.icon-times-sm:before {
	content:"\E989";
}
.icon-times:before {
	content:"\E98A";
}
.icon-trash-can:before {
	content:"\E98B";
}
.icon-tri-arrow-down:before {
	content:"\E98C";
}
.icon-tri-arrow-left:before {
	content:"\E98D";
}
.icon-tri-arrow-right:before {
	content:"\E98E";
}
.icon-tri-arrow-up:before {
	content:"\E98F";
}
.icon-twitter:before {
	content:"\E990";
}
.icon-ubuntu-o:before {
	content:"\E991";
}
.icon-ubuntu:before {
	content:"\E992";
}
.icon-undo:before {
	content:"\E993";
}
.icon-ungroup:before {
	content:"\E994";
}
.icon-unlock-o:before {
	content:"\E995";
}
.icon-update:before {
	content:"\E996";
}
.icon-user:before {
	content:"\E997";
}
.icon-users:before {
	content:"\E998";
}
.icon-wechat-moment:before {
	content:"\E999";
}
.icon-wechat:before {
	content:"\E99A";
}
.icon-weibo:before {
	content:"\E99B";
}
.icon-widget-bar:before {
	content:"\E99C";
}
.icon-widget-batch-import:before {
	content:"\E99D";
}
.icon-widget-battery:before {
	content:"\E99E";
}
.icon-widget-btn:before {
	content:"\E99F";
}
.icon-widget-checkbox:before {
	content:"\E9A0";
}
.icon-widget-circle:before {
	content:"\E9A1";
}
.icon-widget-file:before {
	content:"\E9A2";
}
.icon-widget-flow-link:before {
	content:"\E9A3";
}
.icon-widget-flow-page:before {
	content:"\E9A4";
}
.icon-widget-footer:before {
	content:"\E9A5";
}
.icon-widget-gesture:before {
	content:"\E9A6";
}
.icon-widget-header:before {
	content:"\E9A7";
}
.icon-widget-horizontal-line:before {
	content:"\E9A8";
}
.icon-widget-icon-label:before {
	content:"\E9A9";
}
.icon-widget-img:before {
	content:"\E9AA";
}
.icon-widget-input:before {
	content:"\E9AB";
}
.icon-widget-keyboard:before {
	content:"\E9AC";
}
.icon-widget-link:before {
	content:"\E9AD";
}
.icon-widget-map:before {
	content:"\E9AE";
}
.icon-widget-new-page:before {
	content:"\E9AF";
}
.icon-widget-paragraph:before {
	content:"\E9B0";
}
.icon-widget-radio:before {
	content:"\E9B1";
}
.icon-widget-rectangle:before {
	content:"\E9B2";
}
.icon-widget-search-input:before {
	content:"\E9B3";
}
.icon-widget-select:before {
	content:"\E9B4";
}
.icon-widget-sticker:before {
	content:"\E9B5";
}
.icon-widget-text:before {
	content:"\E9B6";
}
.icon-widget-textarea:before {
	content:"\E9B7";
}
.icon-widget-toggle:before {
	content:"\E9B8";
}
.icon-widget-tooltip:before {
	content:"\E9B9";
}
.icon-widget-triangle-left-bottom:before {
	content:"\E9BA";
}
.icon-widget-triangle-top:before {
	content:"\E9BB";
}
.icon-widget-vertical-line:before {
	content:"\E9BC";
}
.icon-widget-webpage:before {
	content:"\E9BD";
}
.icon-windows-o:before {
	content:"\E9BE";
}
.icon-windows:before {
	content:"\E9BF";
}
.icon-z-back:before {
	content:"\E9C0";
}
.icon-z-backward:before {
	content:"\E9C1";
}
.icon-z-forward:before {
	content:"\E9C2";
}
.icon-z-front:before {
	content:"\E9C3";
}
.icon-zoom-in:before {
	content:"\E9C4";
}
.icon-zoom-out:before {
	content:"\E9C5";
}