#master.address={{master_address}}
#access.key={{ak}}
#secret.key={{sk}}
log.level=info
event.thread.count=3

#access.address=
#app.name={{app_name}}
#instance.name=
#env={{env}}
#env.tag=
#business={{business}}
#sub.business={{sub_business}}
#env.secret=
interceptor.chains=com.huawei.hwclouds.lubanops.interceptor.DInterceptor,com.huawei.hwclouds.lubanops.interceptor.BInterceptor,com.huawei.hwclouds.lubanops.interceptor.AInterceptor,com.huawei.hwclouds.lubanops.interceptor.CInterceptor
