.TestReport {
    .PageInfo {
        margin: 20px;
    }
    .Card {
        margin: 20px;
    }
    .ToolBar {
        display: flex;
        margin-top: 5px;
        margin-bottom: 15px;
        .Space {
            flex-grow: 1;
        }
        .Select {
            width: 230px;
        }
        .Input {
            width: 230px;
        }
    }
}