.AgentDetail {
    .Card {
        margin: 20px;
        .Label {
            margin-bottom: 6px;
            font-size: 14px;
            font-weight: bolder;
            .Question {
                vertical-align: baseline;
                margin-left: 5px;
            }
        }
        .SubCard {
            border: #E5E7EA 1px solid;
            border-radius: 5px;
            margin-bottom: 20px;
            &.Basic{
                display: flex;
                .Item {
                    flex-grow: 1;
                    height: 80px;
                    & + .Item {
                        border-left: #E5E7EA 1px solid;
                    }
                    .Value {
                        margin-top: 10px;
                        font-size: 20px;
                        text-align: center;
                        font-weight: 500;
                        line-height: 30px;
                        height: 30px;
                    }
                    .Title {
                        text-align: center;
                        color: #959595;
                        font-size: 14px;
                        line-height: 34px;
                    }
                }
            }
        }
        .Input {
            margin-bottom: 20px;
            .ant-input-number {
                width: 230px;
            }
        }
    }
}
.AgentCharts {
    .Label {
        margin-bottom: 6px;
        font-size: 14px;
        font-weight: bolder;
    }
    .ChartCard {
        border: #E5E7EA 1px solid;
        border-radius: 5px;
        margin-bottom: 20px;
        padding: 20px;
        .Chart {
            // margin: 20px;
            border-radius: 5px;
            height: 250px;
            max-width: 99%;
        }
    }
}