<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 
        %d{yyyy-MM-dd HH:mm:ss.SSS}日期时间
        %c 全限定类名
        %M  方法名
        %L 行号
        %thread 线程名
        %-5level 日志级别,5表示空格数，不足向左对齐
        %msg或者%m 日志消息
        %n 换行
     -->
    <!-- property 表示全局属性，获取方式是${name} -->
    <property name="pattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5level] %thread %c %M %L %msg%n"/>
    <!-- 日志文件的保存路径 -->
    <property name="log_dir" value="logs"/>


    <!-- 控制台日志输出的appender -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <!-- 配置输出流对象 默认是System.out -->
        <target>System.out</target>
        <!-- 日志消息的格式 -->
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${pattern}</pattern>
        </encoder>
    </appender>

    <!-- 日志拆分和归档 压缩的appender对象-->
    <appender name="rollingfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- 文件保存路径 -->
        <file>${log_dir}/flow_record_replay_console.log</file>
        <!-- 文件的日志输出格式 -->
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${pattern}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- 按照时间和压缩格式声明拆分的文件名 -->
            <!-- ${log_dir}/rolling.%d{yyyy-MM-dd}.log.gz 归档压缩 -->
            <fileNamePattern>${log_dir}/flow_record_replay_console.%d{yyyy-MM-dd}.log%i.gz</fileNamePattern>
            <!-- 按照文件大小来拆分 -->
            <maxFileSize>50MB</maxFileSize>
            <!--日志文件保留天数-->
            <maxHistory>7</maxHistory>
            <!--每个文件最多100MB，保留15天的历史记录，但最多20GB-->
            <totalSizeCap>20GB</totalSizeCap>
            <!--重启清理日志文件-->
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>
    </appender>

    <!-- 异步日志 :只能引用appender，包裹住它，然后rootlogger再去引用异步appender-->
    <appender name="async" class="ch.qos.logback.classic.AsyncAppender">
        <!-- 不丢失日志.默认的,如果队列的80%已满,则会丢弃TRACT、DEBUG、INFO级别的日志 -->
        <discardingThreshold>0</discardingThreshold>
        <!-- 更改默认的队列的深度,该值会影响性能.默认值为256 -->
        <queueSize>150</queueSize>
        <!-- 引用appender -->
        <appender-ref ref="rollingfile"/>
    </appender>

    <!-- root logger -->
    <root level="info">
        <appender-ref ref="async"/>
        <appender-ref ref="console"/>
    </root>
</configuration> 