.ReportDetail{
    .Card {
        margin: 20px;
        .Label {
            margin-bottom: 6px;
            font-size: 14px;
            font-weight: bolder;
        }
        .SubCard {
            border: #E5E7EA 1px solid;
            border-radius: 5px;
            margin-bottom: 20px;
            &.Info{
                padding-top: 20px;
                padding-right: 20px;
                display: flex;
                .Title {
                    width: 90px;
                    text-align: right;
                }
                .Download {
                    margin-top: 30px;
                }
            }
            &.Basic{
                display: flex;
                .Item {
                    flex-grow: 1;
                    height: 80px;
                    width: 150px;
                    & + .Item {
                        border-left: #E5E7EA 1px solid;
                    }
                    .Value {
                        margin-top: 10px;
                        font-size: 20px;
                        text-align: center;
                        font-weight: 500;
                        line-height: 30px;
                        height: 30px;
                    }
                    .Title {
                        text-align: center;
                        color: #959595;
                        font-size: 14px;
                        line-height: 34px;
                    }
                }
            }
        }
    }
}
.ReportCharts {
    .Label {
        margin-bottom: 6px;
        font-size: 14px;
        font-weight: bolder;
        .Question {
            vertical-align: baseline;
            margin-left: 5px;
        }
    }
    .SubCard {
        padding: 20px;
        border: #E5E7EA 1px solid;
        border-radius: 5px;
        margin-bottom: 20px;
    }
}