.PlanManage {
    .Card {
        margin: 20px;
        .ToolBar {
            display: flex;
            margin-top: 5px;
            margin-bottom: 15px;
            .Add {
                margin-right: 10px;
            }
            .Space {
                flex-grow: 1;
            }
            .Input {
                width: 100px;
            }
        }
        .TreeTable {
            .ant-table-cell {
                vertical-align: top;
            }
        }
    }
}
.AddPlan {
    .Buttons {
        text-align: center;
        button + button {
            margin-left: 10px;
        }
    }
}
.CopyPlan {
    .Buttons {
        text-align: center;
        button + button {
            margin-left: 10px;
        }
    }
}
.ApprovePlan {
    .Buttons {
        text-align: center;
        button + button {
            margin-left: 10px;
        }
    }
}
.RunPlan {
    .PageInfo {
        margin-bottom: 10px;
    }
    .Buttons {
        text-align: center;
        margin-top: 30px;
        margin-bottom: 0;
        button + button {
            margin-left: 10px;
        }
    }
}