<?xml version="1.0" encoding="UTF-8"?>
<!--The ZK log configuration is the same as that of the agent core to ensure that the logs are unified-->
<configuration scan="true">

    <!-- Define the log file output location -->
    <property name="log.home_dir" value="${sermant_log_dir:-./logs/sermant/core}"/>
    <property name="log.app_name" value="sermant"/>
    <!-- The log has a maximum history of 30 days -->
    <property name="log.maxHistory" value="${sermant_log_max_history:-30}"/>
    <property name="log.level" value="${sermant_log_level:-info}"/>
    <property name="log.maxSize" value="${sermant_log_max_size:-5MB}" />

    <!-- Set the log output format -->
    <!-- %d{yyyy-MM-dd HH:mm:ss.SSS}日期-->
    <!-- %CThe full name of the class-->
    <!-- %FFilename-->
    <!-- %M is a method-->
    <!-- %L is the line number-->
    <!-- %thread  The name of the thread-->
    <!-- %m or %msg is the information-->
    <!-- %n line breaks-->
    <property name="log.pattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %le %F %C %M %L [%thread] %m%n"/>

    <!-- ConsoleAppender The console outputs logs -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder>
            <pattern>
                ${log.pattern}
            </pattern>
        </encoder>
    </appender>

    <!--Set an appender that passes upwards and all levels of logs will be output-->
    <appender name="app" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${log.home_dir}/app/%d{yyyy-MM-dd}/${log.app_name}-%i.log</fileNamePattern>
            <maxHistory>${log.maxHistory}</maxHistory>
            <MaxFileSize>${log.maxSize}</MaxFileSize>
        </rollingPolicy>
        <encoder>
            <pattern>${log.pattern}</pattern>
        </encoder>
    </appender>

    <!-- Prevent ZK log printing from affecting the host -->
    <logger name="org.apache.zookeeper" level="OFF" />
    <logger name="org.apache.curator" level="OFF" />

    <root>
        <!-- Prints debug logs and above-level logs -->
        <level value="${log.level}"/>
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="app" />
    </root>

</configuration>
